SUBSYSTEM=="sgx",KERNEL=="sgx",RUN+="/bin/chmod 777 /dev/$name"
SUBSYSTEM=="sgx",KERNEL=="sgx/enclave",RUN+="/bin/chmod 777 /dev/$name"
SUBSYSTEM=="sgx",KERNEL=="sgx/provision",GROUP="sgx_prv",RUN+="/bin/chmod 770 /dev/$name"

